/* LIST */
.companies-list-header {
  text-align: center;
  text-transform: uppercase;
}

.companies-list {
  text-align: left;
  margin: 10px 15px;
  list-style-type: none;
  background: #eee;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #857d7d;
  width: 20%;
  transition: all .2s ease-in-out;
  display: inline-block;
}

.companies-list-link {
  font-size: 20px;
  text-decoration: none;
  color: #111;
  display: inline-block;
}

.application-count {
  background: yellow; 
}

.interview-count {
  background: darkorchid;
}

.offer-count {
  background: green;
}

.legend-table {
  font-size: 12px;
  display: table;
  border-collapse: separate;
  border-spacing: 3px;
}

.legend-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding:3px;
}

.legend {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

.companies-list:hover {
  transform: scale(1.1);
}

.companies-list::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.companies-list:hover::after {
  width: 100%;
}

.companies-details {
  width: 1000px;
  margin: 0 auto;
}

/* DETAILS */
.comanies-details-list {
  float: left;
  text-align: left;
  background: #fff;
  padding: 35px;
  width: 430px;
  margin-top: 150px;
  left: 25%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #857d7d;
}

.comanies-details-list h1 {
  text-transform: uppercase;
}

.companies-details-stats {
  text-align: center;
  width: 900px;
}

.status {
  display: inline-block;
}

.companies-details a {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to right, #673ab7, #512da8);
  padding: 12px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #673ab7;
}

.companies-details a:hover {
  background: #fff;
  color: #512da8;
}

.option-list {
  text-align: center;
  
}

.option-list select {
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.option-list select {
  padding: 5px;
  border-radius: 3px;
}

.form-list button {
  padding: 8px;
}