.homepage-title h3 {
  font-size: 20;
  text-align: center;
  text-transform: uppercase
}

.homepage {
  display: block;
  margin: auto;
  padding: 50px;
  text-align: left;
  background: #eee;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #857d7d;
  width: 40%;
  margin-bottom: 50px
}

.contributors-list {
  display: flex;
}

.contributors-list div {
  margin: auto;
}

