.pagination {
  margin: 50px auto;
  text-align: center;
}

.pagination > li {
  display: inline-block;
  padding-left: 0;
}

.pagination > li {
  list-style: none;
  border: 1px solid #2c689c;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #2c689c;
  background-color: #fff;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 1px;
}

.pagination>li.active>a {
  color: #fff;
  background-color: #512da8;
  border-color: #512da8;
}

.pagination > li > a:hover {

  cursor: pointer;
  background-color:  #512da8;
  color: fff;
}

