.graduate-details h3 {
  font-size: 20;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
} 

.graduate-details h4 {
  font-size: 16;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
} 


.bar-chart {
  max-width: 60%;
  margin: auto;
  margin-bottom: 1rem;
}

.graduate-details p {
  font-size: 14px;
  text-align: center;
} 

.numbers {
  font-size: 16px;
  color: rgb(255, 99, 132)
}